:root {
    --link-color: #AF1B3F;
    --text-dark: #473144;
    --text-light: #ebebeb;
    --border-color: #EFC69B;
    --body-font: Georgia, Serif;
    --headline-font: Impact, Serif;
}

header h1 {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: var(--headline-font);
}

nav {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    font-size: 1.2em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 20px;
    gap: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#filters {
    border: 1px solid var(--border-color);
    padding: 10px;
}

/* Book Grid */
#gridBook {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.itemBook {
    display: grid;
    grid-template-columns: 180px 1fr; /* Meta section + Main section */
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
}

.metaBook {
    text-align: right;
    font-size: 1.1em;
    color: var(--text-dark);
    border-right: 2px solid var(--border-color);
    padding-right: 20px;
    line-height: 1.2;
}

.mainBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mainBook h3 {
    text-align: center;
    width: 100%;
    color: var(--link-color);
    margin-top: 0;
}

.mainBook img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.mainBook p {
    text-align: center;
    max-width: 80%;
}


